.cart__container{
  margin: 3rem 2rem;
  max-width: 65rem;
  min-height: 43vh;
}
.cart__alert-empty{
  background-color: rgba($color: #fffd69, $alpha: 0.1);
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  border: 3px solid rgba($color: #756803, $alpha: 0.2);
  margin-bottom: 2rem;

  h4{
    margin-bottom: 0.5rem;
    color: #756803;
    display: flex;
    align-items: center;
    grid-gap: 0.5rem;
  }
  p{
    font-size: 1.3rem;
  }
}
.cart__subtotal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #e9e9e6, $alpha: 0.1);
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  border: 3px solid rgba($color: #d4d4d3, $alpha: 0.2);
  margin-bottom: 2rem;

  button{
    padding: 1rem 1.8rem;
    border: none;
    outline: none;
    background-color: #000000;
    border-radius: 0.5rem;
    color: #e9e9e6;
    font-weight: bold;
  }
}
.cart__list{
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}
.cart__item{
  display: flex;
  align-items: center;
  background-color: rgba($color: #e9e9e6, $alpha: 0.1);
  padding: 0rem 1rem;
  border-radius: 0.7rem;
  border: 3px solid rgba($color: #d4d4d3, $alpha: 0.4);
  grid-gap: 1rem;

  button{
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 0.7rem 0;
    background-color: #fa5e5e;
    color: #e9e9e6;
    grid-gap: 1rem;
    border-radius: 0.4rem;
  }
}
@media screen and (min-width: 650px) {
  .cart__container{
    margin-right: auto;
    margin-left: auto;
  }
}